{%extends "base.html"%}
{% block title %}About Us{% endblock title %}
{% block body %}
<section class ="about us py-5" id="about us" style=' background: lightyellow'>


<div class ="container" >
<div class="row align-items-center">
<div class="col-lg-6 order-lg-2">
<div class="p-5">
<img src="https://source.unsplash.com/1600x1280/?icecream" class="img-fluid rounded-circle" alt="">
</div>
</div>
<div class ="col-lg-6 order-lg-1">
<div class="p-5">
<h2 class="display-4">Who we are?</h2>
<p>lorem ipsum dolor sit amet,consector  adipisicing elit.lorem ipsum dolor sit amet,consector  adipisicing elit.
lorem ipsum dolor sit amet,consector  adipisicing elit.</p>

<button type="button" class="btn btn-danger">Know More</button>



</div>
</div>
</div>
</div>

<div class ="container">
<div class="row align-items-center">
<div class="col-lg-6 ">
<div class="p-5">
<img src="https://source.unsplash.com/1600x1280/?chocolate" class="img-fluid rounded-circle" alt="">
</div>
</div>
<div class ="col-lg-6 ">
<div class="p-5">
<h2 class="display-6">Our Speciality</h2>
<p>lorem ipsum dolor sit amet,consector  adipisicing elit.lorem ipsum dolor sit amet,consector  adipisicing elit.
lorem ipsum dolor sit amet,consector  adipisicing elit.</p>
<button type="button" class="btn btn-danger">Know More</button>


</div>
</div>
</div>
</div>
</section>



{% endblock body %}


