{%extends "base.html"%}
{% block title %}Clients{% endblock title %}
{% block body %}
<section id="clients" class="mx-auto" style='background:lightyellow'>
<div class ="container">
<div class="row">
<div class ="col-md-12">

<h3 class= "client-title" style='
    font-weight:bold; padding:40px 0 ; font-size:60px'>
Happy Clients</h3>
<div class="divider"></div>
<p class ="client description" style='text-align:left'>Lorem ipsum dolor sit amet consectetur adipiscing elit.
commodi molestias rerum um minus , accusantium odit.</p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="profile">
<div class="pic" style='border-radius: 50%; border: 6px solid#cf0303;margin-bottom: 15px;overflow: hidden;height: 180px;width: 180px;max-width: 100%;'>
<img src="static\img\e1.png" alt="">


</div>
<h4 style='font-weight:bold ; color:#000;margin-bottom:5px ;text-align:left'> Lorem Ipsum</h4>

</div>
</div>
<div class="col-md-9">
<div class ="quote" style='position:relative; background:#cf0303; padding:60px; margin-top:40px font-size:16px;font-style:italic;border-radius:5px; color:#fff'>
<i class="fas fa-quote-left fa-2x"></i>
Lorem lorem lorem jsjjhwkjljbdjhbmswnklwmobd
jhsjkwla.hiv3ebdwsxbhuvi3edwls h3idbwlk.a,
jbswjhdi3ygebw,mklwjsjhvdmwndndpeiuugdmmzns.
<i class ="fas fa-quote-right fa-2x"></i>
</div>
</div>
</div>
<div class="row">
<div class="col-md-9">
<div class ="quote" style='position:relative; background:#cf0303; padding:60px; margin-top:40px ;font-size:16px;font-style:italic;border-radius:5px; color:#fff'>
<i class="fas fa-quote-left fa-2x"></i>
Lorem lorem lorem jsjjhwkjljbdjhbmswnklwmobd
jhsjkwla.hiv3ebdwsxbhuvi3edwls h3idbwlk.a,
jbswjhdi3ygebw,mklwjsjhvdmwndndpeiuugdmmzns.
<i class ="fas fa-quote-right fa-2x"></i>
</div>


</div>

<div class="col-md-3">
<div class="profile">

<div class="pic" style='border-radius: 50%; border: 6px solid#cf0303;margin-bottom: 15px;overflow: hidden;height: 180px;width: 180px;max-width: 100%;'>
<img src="static\img\e2.png" alt="">
</div>
<h4 style='font-weight:bold ; color:#000;margin-bottom:5px;text-align:left' > Lorem Ipsum</h4>
</div>
</div>
</div>
</div>
</section>




{% endblock body %}