{%extends "base.html"%}
{% block title %}Family Pack{% endblock title %}
{% block body %}
<section class ="familypack py-5" id="familypack" style='background: lightyellow' >


 <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    <h1 class= "Family pack title" style='font-weight:bold; text-align:center; font-size:60px padding :80px 20px'> Family Pack</h1>


      <div class="col-lg-4">
        <img src="https://source.unsplash.com/1600x1280/?icecream" class="img-fluid rounded-circle" alt="...">
        <h2> Family Pack Vanilla Ice Cream</h2>
        <p>Since the times of our inception, we are dedicatedly engrossed in manufacturing and supplying a wide gamut of Family Pack Vanilla Ice Cream.</p>
        <button type="button" class="btn btn-danger">Rs.119/kg</button>
         

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img src="https://source.unsplash.com/1600x1280/?icecream" class="img-fluid rounded-circle" alt="...">


        <h2>Family Pack Butterscotch Ice Cream</h2>
        <p>Since the times of our inception, we are dedicatedly engrossed in manufacturing and supplying a wide gamut of Family Pack Butterscotch Ice Cream.</p>
        <button type="button" class="btn btn-danger">Rs.159/kg</button>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img src="https://source.unsplash.com/1600x1280/?icecream" class="img-fluid rounded-circle" alt="...">


        <h2>Family Pack Dry Fruit Ice Cream</h2>
        <p>Since the times of our inception, we are dedicatedly engrossed in manufacturing and supplying a wide gamut of Family Pack Dry Fruit Ice Cream.</p>
         <button type="button" class="btn btn-danger">Rs.120/kg</button>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->




    
    
    
  
  </section>


{% endblock body %}