{%extends "base.html"%}
{% block title %}Services{% endblock title %}
{% block body %}



<section class ="flavor py-5" id="flavor" style='background:url("https://source.unsplash.com/1280x900/?sweets")'>

<div class = "container">
<div class="row mb-5">
<div class ="col d-flex flex-wrap text-uppercase justify-content-center">
<h1 class="font-weight-bold align-self-center mx-1 ">
Our Flavours
</h1>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?sweets" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class= style:"font-weight:bold">
Lorem ipsum
</h5>
<h6>Sugar Free</h6>



<button type="button" class="btn pull-left btn-primary">Order Now</button>
<span></span>


<button type="button" class="btn pull-right-corner btn-danger">Add to Cart</button>

</div>
<h3> Rs.20</h3>
</div>
</div>
</div>
</div>


<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100" alt="...">






<img src="https://source.unsplash.com/1280x900/?ice-cream" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Lorem ipsum
</h5>
<h6>Sugar Free</h6>
<button type="button" class="btn pull-left btn-primary">Order Now</button>
<span></span>


<button type="button" class="btn pull-right-corner btn-danger">Add to Cart</button>

</div>
<h3>Rs.25</h3>

</div>
</div>
</div>
</div>


<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">




<img src="https://source.unsplash.com/1280x900/?cream" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Lorem ipsum
</h5>
<h6>Sugar Free</h6>
<button type="button" class="btn pull-left btn-primary">Order Now</button>
<span></span>


<button type="button" class="btn pull-right-corner btn-danger">Add to Cart</button>

</div>
<h3> Rs.45</h3>


</div>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?candy" class=" d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Lorem ipsum
</h5>
<h6>Sugar Free</h6>

<button type="button" class="btn pull-left btn-primary">Order Now</button>
<span></span>


<button type="button" class="btn pull-right-corner btn-danger">Add to Cart</button>

</div>
<h3> Rs.40</h3>
</div>
</div>
</div>
</div>


<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?chocolate" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Lorem ipsum
</h5>
<h6>Sugar Free</h6>

<button type="button" class="btn pull-left btn-primary">Order Now</button>
<span></span>


<button type="button" class="btn pull-right-corner btn-danger">Add to Cart</button>

</div>
<h3> Rs.80</h3>
</div>
</div>
</div>
</div>




<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?candy" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Lorem ipsum
</h5>
<h6>Sugar Free</h6>
<button type="button" class="btn pull-left btn-primary">Order Now</button>
<span></span>


<button type="button" class="btn pull-right-corner btn-danger">Add to Cart</button>

</div>
<h3> Rs.50</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



{% endblock body %}