{%extends "base.html"%}
{% block title %}Softy{% endblock title %}
{% block body %}
<section class ="softy py-5" id="softy" style='background:aqua'>

<div class = "container">
<div class="row mb-5">
<div class ="col d-flex flex-wrap text-uppercase justify-content-center">
<h1 class="font-weight:bold ;align-self:center  ">
Variety Of Softy
</h1>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?sweets" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Chocolate Softy
</h5>
<h6>Sugar Free</h6>
</div>
<h5 class="currency align-self-center py-2 px-3 ">

<button type="button" class="btn btn-danger">Rs.50</button>

</h5>
</div>
</div>
</div>
</div>


<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100" alt="...">






<img src="https://source.unsplash.com/1280x900/?ice-cream" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Mango Softy
</h5>
<h6>Sugar Free</h6>
</div>
<h5 class="currency align-self-center py-2 px-3 ">
<button type="button" class="btn btn-danger">Rs.35</button>




</h5>
</div>
</div>
</div>
</div>


<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">




<img src="https://source.unsplash.com/1280x900/?cream" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Pineapple Softy
</h5>
<h6>Sugar Free</h6>
</div>
<h5 class="currency align-self-center py-2 px-3 ">
<button type="button" class="btn btn-danger">Rs.40</button>
</h5>
</div>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?icecream" class=" d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Strawberry Softy
</h5>
<h6>Sugar Free</h6>
</div>
<h5 class="currency align-self-center py-2 px-3 ">
<button type="button" class="btn btn-danger">Rs.69</button>
</h5>
</div>
</div>
</div>
</div>


<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?chocolate" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Vanilla Softy
</h5>
<h6>Sugar Free</h6>
</div>
<h5 class="currency align-self-center py-2 px-3 ">
<button type="button" class="btn btn-danger">Rs.59</button>
</h5>
</div>
</div>
</div>
</div>




<div class="col-md-4">
<div class="card md-4 shadow-sm">
<block w-100"alt="...">
<img src="https://source.unsplash.com/1280x900/?milkshake" class="d-block w-100" alt="">
<div class="card body">
<div class="card-info d-flex justify-content-between">
<div class="car-text text-uppercase">
<h5 class="font-weight-bold">
Butterscotch
</h5>
<h6>Sugar Free</h6>
</div>
<h5 class="currency align-self-center py-2 px-3 ">
<button type="button" class="btn btn-danger">Rs.79</button>
</h5>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>









{% endblock body %}